# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
*.local

# Environment
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# Misc
*.zip
.vercel
